body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://flomaster.top/uploads/posts/2021-11/1635832648_2-flomaster-club-p-laim-narisovannii-krasivii-risunok-2.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

